<?xml version="1.0" encoding="UTF-8" standalone="no"?><recentSaves><save>C:\Users\denni\OneDrive\Documenten\Test.sgot</save><save>C:\Users\denni\Sudwestfryske Magysk\hoi.sgot</save><save>C:\Users\denni\Sudwestfryske Magysk\doei.sgot</save><save>C:\Users\denni\Sudwestfryske Magysk\Vrij.sgot</save></recentSaves>